@charset "UTF-8";
/* CSS Document */
/*——————————————————————
　　共通
——————————————————————*/
/*——————————————————————
　　ヘッダー
——————————————————————*/
.header-main {
  background-color: #009966;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logout {
  display: block;
  color: #fff;
  text-align: 20px;
  padding: 20px;
  margin: 0 0 0 auto;
  font-size: 14px;
}

.logout .fas {
  padding-right: 10px;
}

.header-logo {
  background-color: #12663c;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  width: 210px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu li {
  padding: 20px;
}

.header-menu a {
  color: #fff;
  font-size: 14px;
}

.header-menu span {
  color: #fff;
  font-size: 14px;
  padding-left: 30px;
}

/*——————————————————————
　　コンテンツ
——————————————————————*/
.container-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar-main {
  background-color: #3f3f3f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar-main ul {
  height: 660px;
  padding: 20px;
  width: 210px;
}

.sidebar-main li {
  padding: 10px 10px 30px 10px;
}

.sidebar-main .pickup {
  padding-bottom: 5px;
  border-bottom: 3px dotted #009966;
}

.sidebar-main .qr-appli {
  position: fixed;
  bottom: 40px;
  z-index: 10;
}

.sidebar-main a {
  color: #fff;
  font-size: 14px;
}

.sidebar-main .appli {
  font-size: 14px;
  color: #fff;
  padding-bottom: 0px;
  text-align: center;
  letter-spacing: 0.1em;
}

.sidebar-main .appli img {
  width: 50%;
  padding: 10% 25%;
}

.contents {
  width: 100%;
}

.contents h1 {
  display: block;
  padding: 25px 10px 0px 20px;
  color: #000;
  font-size: 27px;
  font-weight: bold;
}

.contents-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 8px;
}

.contents-breadcrumb a {
  color: #12663c;
  font-size: 12px;
}

/*---------------------
改行させない
---------------------*/
.nowrap {
  white-space: nowrap;
}

/*——————————————————————
　　選択欄
——————————————————————*/
.select-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fafdeb;
  border: 1px solid #8b8b8b;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 14px;
  padding: 10px;
  width: 350px;
}

/*-------------
日付選択
-------------*/
.date-box {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #12663c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #3f3f3f;
  font-size: 14px;
  padding: 10px;
  width: 350px;
}

/*-----------------
選択の右に▼を表示したい
background-image:url(umas/images/select_down.png) no-repeat;
background-size:20px 10px;
background-position: right center;
------------------*/
/*——————————————————————
　　コンテナ
——————————————————————*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  list-style: none;
}

.container h1 {
  font-weight: normal;
  display: block;
  height: 20%;
  padding: 1rem;
  margin: 0 30px 10px 0;
  border-left: 10px solid #12663c;
}

.container h2 {
  padding-top: 0;
  font-weight: bold;
}

.container h2 span {
  color: #0071a1;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  width: 420px;
}

.container-table {
  width: 100%;
  display: block;
}

.container-table ul {
  width: 320px;
  float: left;
}

.container-table ul li {
  list-style: none;
}

.container-table h2 {
  font-weight: bold;
  padding: 20px 0;
}

.container-table h2 span {
  font-size: 25px;
  color: #12663c;
  padding: 0 20px;
}

/*---------------------
  空白divclass
  ----------------------*/
.blank {
  width: 100%;
  padding: 20px;
}

/*---------------------
  5101.html~ 画像div
  ---------------------*/
.image-part {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  height: 100%;
}

.image-part img {
  padding-top: 20px;
}

.image-part .small {
  width: 70%;
}

/*--------------------
  5102.html~ 画像説明div
  ---------------------*/
.explain {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.explain p {
  font-size: 16px;
}

.explain ul {
  padding: 10px 20px;
}

.explain ul li {
  list-style: disc;
  padding: 5px 0;
}

/*--------------------
  5111.html~ 画像2列
  ---------------------*/
.image-part2 {
  width: 100%;
  padding: 30px;
  background-color: #fff;
  height: auto;
}

.image-part2 h2 {
  padding-bottom: 20px;
}

.image-part2 span {
  padding-left: 10px;
}

.image-part2 span .red {
  color: #f33;
}

.image-part2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.image-part2 li {
  width: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container-login {
  background-color: #fff;
  margin: 100px auto;
  padding: 10px;
  width: 700px;
}

.container-login_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
}

.container-login_title h1 {
  color: #0071a1;
  font-size: 24px;
  padding: 20px;
}

.container-login_title img {
  width: 14%;
}

.container-login_wrapper {
  padding: 10px;
  text-align: center;
}

.container-login_btn {
  padding: 10px;
  text-align: center;
}

/*——————————————————————
　　入力欄
——————————————————————*/
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #8b8b8b;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 14px;
  margin: 5px 0;
  padding: 10px;
  width: 350px;
}

input[type=small-text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 1px solid #8b8b8b;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 14px;
  margin: 5px 0;
  padding: 10px;
  width: 165px;
}

input[type=submit] {
  padding: 7px 15px;
  margin-right: 21px;
  color: #12663c;
  background-color: #fff;
  border: 1px solid #12663c;
}

/*——————————————————————
　　フッター
——————————————————————*/
.footer-copywrite {
  color: #8b8b8b;
  font-size: 12px;
  padding: 10px;
  width: 230px;
}

.footer-main {
  background-color: #3f3f3f;
  color: #8b8b8b;
  font-size: 14px;
  padding: 10px;
  width: 230px;
  position: fixed;
  bottom: 0;
  z-index: 8;
}

/*——————————————————————
　　ポップアップ
——————————————————————*/
.popup-wrapper {
  padding: 80px 40px;
}

.popup-wrapper h5 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.popup-wrapper a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
}

.popup-wrapper p {
  color: black;
  font-size: 16px;
  padding: 10px 0;
}

/*——————————————————————
　　ラジオボタン
——————————————————————*/
.radio {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0;
}

.radio-input {
  display: none;
  width: 2em;
  height: 2em;
}

.radio-input + label {
  padding-left: 40px;
  position: relative;
  margin-right: 10px;
}

.radio-input + label::before {
  border: 1px solid black;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.radio-input:checked + label {
  color: #d01137;
}

.radio-input:checked + label::after {
  background: #d01137;
  border-radius: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  height: 10px;
  width: 10px;
}

/*——————————————————————
　　チェックボックス
——————————————————————*/
.checkbox-input {
  display: none;
}

.checkbox-parts {
  padding: auto;
  position: relative;
  margin: 30px;
}

.checkbox-parts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -9px;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-parts {
  color: #d01137;
}

.checkbox-input:checked + .checkbox-parts::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
  width: 7px;
  height: 14px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  border-bottom: 3px solid #d01137;
  border-right: 3px solid #d01137;
}

/*------------------------
データ削除確認のチェックボックス
------------------------*/
.delete {
  padding: 20px 0;
  font-size: 18px;
}

/*——————————————————————
　　リンク
——————————————————————*/
.link a {
  color: #004CF4;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  word-break: break-all;
}

.link a:visited {
  color: #004CF4;
  text-decoration: none;
}

/*——————————————————————
　　エラー
——————————————————————*/
.error {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #cd0000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.error p {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}

.error .loginer {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0 8px 250px;
}

/*——————————————————————
　　表示/非表示
——————————————————————*/
.balloon-none {
  display: none;
  padding: 0 auto;
}

.balloon {
  padding: 0 auto;
}

/*---------------------
スクロール
---------------------*/
.scroll {
  overflow: scroll;
  width: 100%;
}
/*# sourceMappingURL=styleseet.css.map */